body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.title {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav>ul {
    display: flex;
    
}

.tab {
    list-style-type: none;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #c4c4c4;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-content {
    display: none;
    margin: 50px 0;
}

.active {
    display: block;
}